{% extends 'main.html' %}

{% block content %}

    <div>
        <form action="" method="post">
            {% csrf_token %}

            <label for="name">Username: </label>
            <input type="text" name="name" id="name" placeholder="Enter Username" />

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="*******" />

            <input type="submit" value="Register" />
        </form>
    </div>

{% endblock %}