{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}

    <div>
        <form action="" method="post">
            {% csrf_token %}

            <label for="username">Username: </label>
            <input type="text" id="username" name="username" placeholder="Enter Username" />

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" placeholder="Enter Password" />

            <input type="submit" value="Login" />
        </form>

        <p>Haven't Signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>

    {% else %}

    <div>
        <form action="" method="post">
            {% csrf_token %}

            <p>Already Signed up?</p>
            <a href="{% url 'register' %}">Login</a>
        </form>
    </div>

    {% endif %}

{% endblock %}